
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-image: url(../css/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    min-height: 100vh;
    
 
}
#nav{
    background-color: pink(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.3);
    padding: 15px 30px;
}
#nav a{
   text-decoration: none;
   margin-left: 15px;
   color: black;
   font-size: 17px;
   font-weight: bold;
}
#header{
    text-align: center;
    font-size: 50px;
    padding: 170px 0;
}

#login{
  width: 350px;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.3);
  margin: 150px auto;
}

#login_content h2{
    margin-bottom:20px;
    color: black;
}
#form input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.2);
    color: black;
}
#button,
#submitBtn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ff758c;
    color: white;
    transition: 0.3s;
}

#button:hover,
#submitBtn:hover{
    background-color: #ff4f70;
}


.container{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    
}


.form-box{
    width: 400px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    color: black;
}

.form-box h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-box input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}


button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: black;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background: black;
}

.list-box{
    width: 500px;
    color: black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black(255,255,255,0.3);
}

th{
    background: rgba(255,255,255,0.2);
}